{% extends "base.html" %}
{% load humanize %}

{% block title %}
  home page
{% endblock title %}


{% block content %}

<section id="home">
    <div class="container">
        <div class="row">
        {% if cat %}
        {% for item in cat %}
          
            <div class="col-md-4">
                <a href="{% url 'rent' item.id %}" class="text-decoration-none" >
                    <div class="card">
                        <div class="card-header text-center"> {{item.title}} </div>
                        <div class="card-body">
                            <img  class="img-fluid card-img d-flex" src="{{item.image.url}}" alt="">
                        </div>
                        <div class="card-footer">
                            <h3>Enjoy your choice</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
            {% else %}
            <p class="lead">no category for now</p>
            {% endif %}
        </div>
        
    </div>
</section>
  
{% endblock content %}





