{% extends "base.html" %}
{% load humanize %}
{% load static%}
{% block title %}
  CARS FOR RENT
{% endblock title %}


{% block content %}
  

<section id="car">
    <h3 class="display-4 text-center"> {{cat.title}} </h3>
    <div class="container">
        <div class="row">

            {% if rent %}

            {% for item in rent %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header ">
                        <div class="d-flex justify-content-between">
                            <p class="lead">  {{ item.title|title }}</p>
                            <p class="lead"> {{item.capacity|title }} </p>
                            <p class="lead"> {{item.fuel|title }} </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src=" {{item.image.url }} " alt="" class="img-fluid" >
                        <div class="d-flex money">
                            <h3> &#8358; {{item.amounts|intcomma}}/day </h3>
                        </div>
                       
                    </div>
                    <div class="card-footer">
                        <div class="d-grid book">   
                            <a href="{% url 'form' item.id %}" class="btn btn-success book">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
              
            {% endfor %}
              
            {% else %}
              <p class="lead display-3 bg-warning">sorry no car for renting this time</p>
            {% endif %}
            
        </div>
    </div>
</section>


{% endblock content %}