{% extends "base.html" %}
{% load humanize %}
{% load static%}
{% block title %}
  TAKE YOU
{% endblock title %}

{% block content  %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="">rent</a>
                
            </nav>
        </div>
    </div>
  </div>
  <!-- Breadcrumb End -->
  

  <section class="take">
    <div class="wet">
        <h1>Thank you for renting, you can go back to home page as we attend to your order</h1>
    </div>

  </section>

  <script src="takes.js"></script>
  
{% endblock content %}