

/* navbar  */
/* navbar  */
.navbar .collapse .navbar-nav{
    justify-content: space-between;
    margin-left: 4rem;
    width: 35rem;
 } 


/* 

.swiper {
    width: 100%;
    height: 100%;
  } */

  /* #all .slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

     #all .swiper .wrapper .slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }



.container-fluid .row .con .text-body{
    margin-left: 1rem;
    text-decoration: none;
} */







/* .container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  } */

  .container-fluid .row .col-lg-4 .head{
    margin-left: 4rem;
    border: 2px solid red;
  }
/* store index section  */
/* store index section  */
 #all .carousel-inner .carousel-item img{
    height: 35rem;
   
 }
 /* #all .carousel-inner .carousel-item{
    
 } */

/* .section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px dashed lighten(#3D464D, 50%);
    z-index: -1;
} */


.cat-item {
    background: #ffffff;
    transition: .5s;
}

.cat-item:hover {
    background: #FFD333;
}

.cat-item img {
    transition: .5s;
}

.cat-item:hover img {
    transform: scale(1.2) rotate(5deg);
}


.product-item {
    transition: .5s;
}

.product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.product-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.product-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
    background: rgba(256, 256, 256, .7);
}

.product-item:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.product-item .product-img img  {
    transition: .5s;
}

.product-item:hover .product-img img {
    transform: scale(1.2);
}

.product-item .btn:hover {
    color: #F5F5F5 !important;
}




  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .container-fluid .owl-carousel img{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */

  }


















#advantage{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    /* background: burlywood; */
}

#advantage .container{
    height: 40vh;
    width: 100vw;
    border: 2px solid blue;

}
#advantage .container .row{
    text-align: center;
}

#advantage .container .col-md-4{
    margin-right: 1.5rem;
    border: 2px solid blue;
    width: 22rem;
    height: 10rem;
    background-color: white;
    
}




/* category  */

#category .container img{
    height: 40vh;
    width: 20vw;
    border-radius: 40px;
    background: linear-gradient(225deg, #4d4c4c, #575757);
    box-shadow:  10px 20px 20px #313131;
    /* overflow: hidden !important; */

}

#product .container img{
    height: 45vh;
    width: 25vw;
    border-radius: 30px;
    background: linear-gradient(225deg, #4d4c4c, #575757);
    box-shadow:  10px 20px 20px #313131;
    margin-top: 5rem;
}

/* store brand section  */
/* store brand section  */

#brand .card-header{
    color:black;
    background-color: bisque;

}

#brand .card{
    height: 60vh;
    width: 20vw;
    border-radius: 36px;
background: linear-gradient(225deg, #fdfafa, #faf8f8);
box-shadow: 
             3px 1px 10px #969595;
}
#brand .card .update-cart{
    background-color: bisque;
    border: 0rem;
    color: black;

}
#brand .card-header{
    margin-top: 0rem;
    border-radius: 36px;
    

}

#brand .card img{
    height: 20vh;
    width: 20vw;
}
#brand .pagination{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    
}

#brand .page-link{
color: black;
background-color: bisque;
border-radius: 1rem;
/* border-color: rgb(250, 162, 47); */
}

#brand .active{
    background-color: rgb(109, 96, 81);
}


/* store category section  */
/* store category section  */




.category .card-header{
    color:black;
    background-color: bisque;
}

.category .card{
    height: 75vh;
    width: 20vw;
    /* border: 2px solid blue; */
    border-radius: 36px;
    background: linear-gradient(225deg, #fdfafa, #faf8f8);
    box-shadow: 3px 1px 10px #969595;
}

.category .card-footer{
    height: 2rem;
    margin-bottom: 15%;
}


/* more section  */
/* more section  */
#product .brief .btn{
    background-color: #000000 !important;
    border-color: #000000;
}
/* mycart section  */
/* mycart section  */


/* rent app  */
/* rent app  */
/* rent app  */
/* rent home section  */
/* rent home section  */



#home .carousel-inner .carousel-item img{
    height: 35rem;
   
 }
 #home .card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 36px;
background: linear-gradient(225deg, #fdfafa, #faf8f8);
box-shadow: 3px 1px 10px #969595;
}

#home .card-header{

    margin-top: 0.1rem;
    border-radius: 36px;
}

#home .card img{
    height: 100%;
    width: 100%;
} 
.banner-section{
    background: url(carsales/static/img/roll.jpg);
    /* background-color: #4d4c4c; */
}
#home .card:hover{
    box-shadow: none;
}

/* cars for rent section  */
/* cars for rent section  */

 #car .card{
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* padding-bottom: 3rem; */
    height: 75vh;
    width: 25vw;
    border-radius: 36px;
background: linear-gradient(225deg, #fdfafa, #faf8f8);
box-shadow: 3px 1px 10px #000000;

}

#car .card .money h3{
    margin: auto;
}

#car .card img{
    height: 45vh;
    width: 100%;
    /* margin-top: 1rem; */
   margin-left: 0rem;
   padding-bottom: 1rem;
}

#car .card:hover{
    /* box-shadow: 3px 1px 10px #b96868; */
    box-shadow: none;
}

#car .card .book{
    width: 17vw;
    margin: auto;
    background-color: bisque;
    border: 0rem;
    color: black;
    background: linear-gradient(225deg, bisque, bisque);
    box-shadow: 3px 1px 10px #969595;


}

@media (min-width: 300px) {
    #home .container .card{
        margin-top: 3rem;
        margin-bottom: 4rem;
        height: 90%;
        width: 100%;
        border-radius: 36px;
    background: linear-gradient(225deg, #fdfafa, #faf8f8);
    box-shadow: 3px 1px 10px #969595;
    }
    
    #car .card{
        margin-top: 1rem;
        margin-bottom: 2rem;
        /* padding-bottom: 3rem; */
        height: 75vh;
        width: 100%;
        border-radius: 36px;
    background: linear-gradient(225deg, #fdfafa, #faf8f8);
    box-shadow: 3px 1px 10px #000000;
    
    }
    
    
    #car .card .book{
        width: 100%;
        margin: auto;
        
        background-color: bisque;
        border: 0rem;
        color: black;
        background: linear-gradient(225deg, bisque, bisque);
        box-shadow: 3px 1px 10px #969595;
    
    
    }
    
    }



/* about  */
/* about  */
/* about  */

#testin .container-fluid .card .img-fluid img{
    height: 250px;
    width: 250px;
    border: 2px solid seagreen;
    border-radius: 50%;
    margin: 0 auto;
}
#testin .item img{
    height: 30vh;
}

.row .col img{
    height: 30vh;
}

