{% extends 'base.html' %}
{% load humanize  %}
{% block title %}
  contact page
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Contact Information</h3>
            <div class="row contact-info-wrap">
                <div class="col-md-3">
                    <p><span><i class="fa fa-location"></i></span> OGBA, <br> LAGOS</p>
                </div>
                <div class="col-md-3">
                    <p><span><i class="fa fa-phone"></i></span> <a href="tel://+2347066990913">+2347066990913</a></p>
                </div>
                <div class="col-md-3">
                    <p><span><i class="fa fa-info"></i></span> <a href="mailto:info@motexcars.com">info@motexcars.com</a></p>
                </div>
                <div class="col-md-3">
                    <p><span><i class="fa fa-globe"></i></span> <a href="#">motexcars.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="#">contact</a>
                <!-- <span class="breadcrumb-item active">Shopping Cart</span> -->
            </nav>
        </div>
    </div>
  </div>

<div class="container">
    <div class="row ">

        <div class="col-lg-6 my-3 py-4  bg-light">
            <h2 class="text-center">GET IN TOUCH</h2>
            <form action="" method="post" >
                {% csrf_token %} 
                {{form}}
    
                <div class="d-grid my-3">
                    <button type="submit" class="btn btn-success">send mail</button>
                </div>
            </form>
        </div> 
        <div class="col-lg-6 mb-5 ">
            <div class="bg-light p-30 mb-30">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d126837.2555955061!2d3.199290675851225!3d6.563996567809274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1688020824560!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>No10, Iloricoker, Lagos, Nigeria</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+2347066990913</p>
            </div>
        </div>
    </div>
</div>


    {% endblock content %}