{% extends "base.html" %}
{% load static%}
{% load humanize  %}
{% block title %}
index page
{% endblock title %}

{% block content %}


 <!-- Breadcrumb Start -->
 <div class="container-fluid">
  <div class="row px-xl-5">
      <div class="col-12">
          <nav class="breadcrumb bg-light mb-30">
              <a class="breadcrumb-item text-dark" href="#">Home</a>
              <a class="breadcrumb-item text-dark" href="#">Shop</a>
              <span class="breadcrumb-item active">Shopping Cart</span>
          </nav>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- 
class="animate_animated
{% if forilop.counter0 == 0 %}
animate_fadeInDown

{% endif %}
{% if forilop.counter == 1 %}
animate_ZoomIn
{% endif %}
" -->

<section id="all" class="bg-light">



  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% if sliders %}
      {% for slid  in sliders %}
      <div class="carousel-item {% if forloop.counter0 == 0 %}  active {% endif %} ">
        <img src="{{slid.slider.url}}" class="d-block w-100" alt="cars">
        <div class="carousel-caption d-none d-md-block align-items-center justify-content-center">
          <h2 class="display-4 text-white mb-3 animate__animated {% if forilop.counter0 == 0 %} animate__fadeInDown {% endif %} text-primary">MOTEXLUX CARS</h2>
          <h3 class="mx-md-5 px-5 {% if forilop.counter == 1 %} animate__animated animate__bounceIn {% endif %} text-primary">{{slid.title}}</h3>
          <h5 class="mx-md-5 px-5 animate__animated {% if forilop.counter == 2 %} animate__bounceIn {% endif %} text-primary ">{{slid.sub_title}}</h5>
          <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp text-primary" href="{% url 'products' %}">Shop Now</a>
        </div>
       
      </div>

     
      {% endfor %}
        
      {% else %}
        
      {% endif %}
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
 

    </div>
    <div class="carousel-inner">
       {% if sliders %}
        {% for slid in sliders  %}
        <div class="carousel-item active">
        <img src=" {{slid.slider.url}}" class="d-block w-100 h-50" alt="cars">
        </div>              
        {% endfor %}
        
       {% else %}
       
        <p class="lead bg-danger">no slider at the moment</p>
       {% endif %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->



  
<!-- 
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    {% if sliders %}
    {% for slid in sliders %}
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="30000">
        <img src="{{slid.slider.url}}" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    {% endfor %}
      
    {% else %}
      
    {% endif %} -->
    
  







<!--   

  <div class="swiper mySwiper">
    {% if sliders %}
    {% for slid in sliders  %}
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src=" {{slid.slider.url}}" class="" alt="cars">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    
    {% endfor %}
      
    {% else %}
    <p class="lead bg-danger">no slider at the moment</p>
    {% endif %}
    
    
  </div>  -->




 <!-- <div class="container-fluid mb-3">
  <div class="row px-xl-5">
      <div class="col-lg-12">
          <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
              <ul class="carousel-indicators">
                  <li data-target="#header-carousel" data-slide-to="" class="active"></li>
                  <li data-target="#header-carousel" data-slide-to=""></li>
                  <li data-target="#header-carousel" data-slide-to=""></li>
              </ul>
              <div class="carousel-inner">
                {% if sliders  %}
                {% for slid in sliders  %}
                <div class="carousel-item position-relative {% if forloop.counter0 == 0 %} active {% endif %}" style="height: 430px;">
                    <img class="position-absolute w-100 h-100" src="{{slid.slider.url}}" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h1 class="display-4 text-white mb-3 animate__animated {% if forilop.counter0 == 0 %} animate__fadeInDown {% endif %}">LUXURY CARS</h1>
                            <p class="mx-md-5 px-5 {% if forilop.counter == 1 %} animate__animated animate__bounceIn {% endif %}">{{slid.title}}</p>
                            <p class="mx-md-5 px-5 animate__animated {% if forilop.counter == 2 %} animate__bounceIn {% endif %}">{{slid.sub_title}}</p>
                            <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                  
                {% endfor %}

                {% else %}
                <p class="lead bg-danger">no slider at the moment</p>
                  
                {% endif %}
                 
              </div>
          </div>
      </div> -->
      <!-- {% if offer %}
      {% for tro in offer  %}
      <div class="col-lg-4">
        <div class="product-offer mb-30" style="height: 200px; ">
            <img class="img-fluid" src="{{tro.image.url}}" alt="{{tro.title}}">
            <div class="offer-text">
                <h6 class="text-white text-uppercase">Save 20%</h6>
                <h3 class="text-white mb-3">Special Offer</h3>
                <a href="{% url 'addtocart' tro.id %}" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
      {% endfor %}
        
      {% else %}
        <p>no product</p>
      {% endif %} -->
      
    
      <!-- </div>
  </div>
 </div> -->
 <!-- Carousel End -->




 <!-- Featured Start -->
 <div class="container-fluid pt-5 ">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center  mb-4 bg-white" style="padding: 30px;">
              <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
          <div class="d-flex align-items-center mb-4 bg-white" style="padding: 30px;">
              <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
              <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
          <div class="d-flex align-items-center  mb-4 bg-white" style="padding: 30px;">
              <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
          <div class="d-flex align-items-center  mb-4 bg-white" style="padding: 30px;">
              <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
          </div>
      </div>
  </div>
 </div>
 <!-- Featured End -->


 <!-- Categories Start  -->


    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            {% if category %}
              {% for cat in category  %}
                
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="{% url 'category' cat.id  %}">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src=" {{cat.image.url}} " alt="{{cat.title}}">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>{{cat.title |title}}</h6>
                            <small class="text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
              {% endfor %}
            {% else %}
            <p class="lead p-3 bg-danger text-white">no category</p>
            {% endif %}
            
        </div>
    </div>
    <!-- Categories End -->
    <!-- <section id="product" class="py-4">
        <div class="intro text-center">
          <h4 class="display-4">Latest cars</h4>
          <p class="lead">welcome</p>
        </div>
        <div class="container">
          <div class="row">
            {% if product %}
            {% for pro in product  %}
            <div class="col-md-4">
              <a href="{% url 'more' pro.id  %}" class="text-decoration-none">
                <div class="cars w-100 ">
                <img src=" {{pro.image.url}} " alt=" {{pro.title}} " class="img-fluid">
              </div>
               <h5 class="text-center"> {{pro.title |title}} </h5>  -->
            <!-- </a>
          </div>
          {% endfor %}
          
          {% else %} 
          <p class="lead p-3 bg-danger text-white">no category</p>
          {% endif %}
          
          <div class="brief d-grid my-5">
            <a href="{% url 'products' %}" class="btn btn-success">view all products</a>
          </div>
      
          </div>
        </div>
      </section> -->

     <!-- Products Start -->
     <div class="container-fluid pt-5 pb-3 bg-light">
      <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Latest Cars</span></h2>
      <div class="row px-xl-5">
        {% if product %}
        {% for pro in product %}
        <div class="col-lg-4 col-md-3 col-sm-6 pb-1">
            <a href="{% url 'more' pro.id  %}" class="text-decoration-none">
                
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{pro.image.url}} " alt="{{pro.title}}">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
            </a>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>&#8358;{{pro.price|intcomma}}</h5>
                        <!-- <h6 class="text-muted ml-2"><del>$123.00</del></h6> -->
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
          
        {% else %}
        <p class="lead p-3 bg-danger text-white">no product</p>
        {% endif %}
        <div class="brief d-grid my-5">
            <a href="{% url 'products' %}" class="btn btn-primary">view all products</a>
        </div>  
            
   </div>
</section>
  <!-- Products End -->
<!-- 
  <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/product-7.jpg" alt="">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star-half-alt text-primary mr-1"></small>
                <small class="far fa-star text-primary mr-1"></small>
                <small>(99)</small>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/product-8.jpg" alt="">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="far fa-star text-primary mr-1"></small>
                <small class="far fa-star text-primary mr-1"></small>
                <small>(99)</small>
            </div>
        </div>
    </div>
</div>
</div> -->



  <!-- Offer Start -->
  <!-- <div class="container-fluid pt-5 pb-3 bg-light">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Offer End -->
 

 <!-- Vendor Start -->
 <!-- <div class="container-fluid py-5 bg-light">
    <div class="row px-xl-5">
        {% if vendor %}
          {% for ven in vendor  %}
          <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="{{ven.image.url}} " alt="{{ven.name}}">
                </div>
              
            </div>
        </div>
          {% endfor %}
        {% else %}
          <p class="lead p-3 bg-danger text-white">no vendor</p>
        {% endif %}
        
        
    </div>
</div> -->
<!-- Vendor End -->





   




    <!-- paginator  -->
      <!-- paginator  -->
      <!-- <div class="col-md-5">

        <ul class="pagination">
          {% if paginator.previous %}
          <li class="page-item"><a class="page-link" href="?page={{paginator.previous_page_number}}">previous</a></li>
          {% else %}
          <li class="page-item" disabled> <a class="page-link">precious</a></li>

          {% endif %}

          {% for item in paginator.page_range  %}
            {% if item == paginator.number %}
            <li class="page-item "><a class="page-link" href=""> {{item}} </a> </li>

            {% else %}
            <li class="page-item active"><a class="page-link" href="?page={{item}}"> {{item}} </a> </li>

            {% endif %}
            
          {% endfor %}

          {% if paginator.next %}
          <li class="page-item" > <a class="page-link" href="?page={{paginator.next_page_number}}">next</a></li>
        
          {% else %}
          <li class="page-item" disabled > <a class="page-link" >next</a></li> 
          {% endif %}
          
          
        </ul>
      </div> -->


  </section>


  <!-- product  -->
  <!-- product  -->

  <!-- <section id="product" class="py-4">
    <div class="intro text-center">
      <h4 class="display-4">Latest cars</h4>
      <p class="lead">welcome</p>
    </div>
    <div class="container">
      <div class="row">
        {% if product %}
        {% for pro in product  %}
        <div class="col-md-4">
          <a href="{% url 'more' pro.id  %}" class="text-decoration-none">
            <div class="cars w-100 ">
            <img src=" {{pro.image.url}} " alt=" {{pro.title}} " class="img-fluid">
          </div>
           <h5 class="text-center"> {{pro.title |title}} </h5>  -->
        <!-- </a>
      </div> -->
      <!-- {% endfor %}
      
      {% else %} 
      <p class="lead p-3 bg-danger text-white">no category</p>
      {% endif %}
      
      <div class="brief d-grid my-5">
        <a href="{% url 'products' %}" class="btn btn-success">view all products</a>
      </div>
  
      </div>
    </div>
  </section> --> 

<!-- <section id="advantage" class="py-4" >
        <div class="royal">
          <div class="container">
            <div class="row">
              <p>120+ psodjhsjhbsjhkkas</p>
              <h2>hjsdgyugsdayukdfgtfsatyfsdyu</h2>
              <div class="col-md-4">
              <img src="{% static 'img/customer-service.png' %}" class="img-fluid" alt="">
              <h3>hjjhshdfkugsejhgyjkj</h3>
              </div>
              <div class="col-md-4">
                <img src="{% static 'img/calendar.png' %}" class="img-fluid" alt="">
                <h3>hjjhshdfkugsejhgyjkj</h3>
              </div>
              <div class="col-md-4">
                <img src="{% static 'img/earth-grid.png' %}" class="img-fluid" alt="">
                <h3>hjjhshdfkugsejhgyjkj</h3>
              </div>

            </div>
          </div>
        </div>
  
</section> -->

<!-- <section id="who" class="py-4">
  <div class="game">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          jhjhfjkjj
        </div>
        <div class="col-md-6">
          jhjhfjkjj
        </div>
      </div>
    </div>
  </div>
</section>

<section id="seller" class="py-4">
  <div class="sold">
    <h4>Featured Cars</h4>
    <h2>Our Best Offers</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
         <h3>yuuliuuuithwhefruiheoihthouthehr</h3>
        </div>
        <div class="col-md-4">
        <h3>yuuliuuuithwhefruiheoihthouthehru</h3>
        </div>
        <div class="col-md-4">
        <h3>yuuliuuuithwhefruiheoihthouthehr</h3>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="test" class="py-4">
  <div class="testmonial">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
      </div>
    </div>
  </div> -->
<!-- </section> -->
 

{% endblock content %}




