{% extends "base.html" %}
{% load humanize %}
{% block title %}
  more page
{% endblock title %}

{% block content %}
  <section id="more">
    <div class="container">
        <div class="row">
           {% if mor %}            
           <div class="col-md-6">
               <div class="card">
                   <div class="card-header">
                   </div>
                   <div class="card-body">
                       <img src="{{mor.image.url}}" alt="" class="img-fluid">
                       <h3> {{mor.title}} </h3>
                       <p class="lead"> {{mor.description}} </p>
                       <h4> {{mor.price}} </h4>
                       <h4> {{mor.inventory}} </h4>
                   </div>
                   <div class="card-footer d-grid">
                    <a href="" class="btn btn-success">Add To Cart</a>
                   </div>
               </div>
           </div>
           {% else %}
             <p class="lead">no product now</p>
           {% endif %}           
        </div>
    </div>
  </section>
{% endblock content %}