{% extends 'base.html' %}
{% load static%}
{% load humanize %}
{% block title %}
  payment page
{% endblock title %}

{% block content %}

 <!-- Breadcrumb Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="#">payment</a>
                <!-- <span class="breadcrumb-item active">Shopping Cart</span> -->
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<section id="payment" class="my-3 py-3 ">
<div class="container">
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">make payment of &#8358; {{order.amount |intcomma}} </div>
            <script src="https://js.paystack.co/v1/inline.js"></script>

            <div class="d-grid">
                <button class="btn btn-success"  type="submit" onclick="payment_Paystack()" >pay</button>
            </div>
        </div>
    </div>
</div>
</div>

</section>



<script>
     function payment_Paystack(){
        let currency = 'NGN';
        let ref = '{{order.ref}}';
        let obj = {
            key: '{{paystack_public_key}}',
            email: '{{order.email}}',
            amount: '{{order.amount_value}}',
            ref: ref,
            callback: function(response){
                window.location.href="{% url 'done_payment' order.ref %}"
            }
        }
        if(Boolean(currency)){
            obj.currency = currency.toUpperCase();
        }
        let handler = PaystackPop.setup(obj)
        handler.openIframe();
    }
</script>

  
{% endblock content %}











