{% extends "base.html" %}
{% load humanize %}
{% load static%}
{% block title %}
  product page
{% endblock title %}

{% block content %}

 <!-- Breadcrumb Start -->
 <div class="container-fluid">
  <div class="row px-xl-5">
      <div class="col-12">
          <nav class="breadcrumb bg-light mb-30">
              <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
              <a class="breadcrumb-item text-dark" href="{% url 'products' %}">products</a>
              <span class="breadcrumb-item active">Shopping......</span>
          </nav>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<section id="product">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href=" {% url 'index' %} ">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Product</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
{% if product %}

<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
  <div class="product-item bg-light mb-4">
      <div class="product-img position-relative overflow-hidden">
        <p class="text-center">{{product.title}}</p>
          <img class="img-fluid w-100" src="{{product.image.url}}" alt="">
          <p class="lead"> {{product.description|truncatewords:13}} </p>
          <div class="product-action">
              <a class="btn btn-outline-dark btn-square" href="{% url 'addtocart' product.id %} "><i class="fa fa-shopping-cart"></i></a>
              <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a> -->
              <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
              <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a> -->
          </div>
      </div>
      <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
              <h5></h5><h6 class="text-muted ml-2"><del></del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star text-primary mr-1"></small>
              <small class="fa fa-star-half-alt text-primary mr-1"></small>
              <small class="far fa-star text-primary mr-1"></small>
              <small><a href=" {% url 'more' product.id %}" class="btn btn-dark">more</a></small>
          </div>
      </div>
  </div>
</div>



<!-- <h2 class="display-2 text-center my-2">product review</h2>
<div class="col-md-6">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <img src="{{product.image.url}}" alt="" class="card-img">
            <p class="lead"> {{product.description|truncatewords:13}} </p>
            
            <h5> {{product.created_at}} </h5>

            <div class="d-flex justify-content-between">
              <a href="" class="btn btn-success">Add to cart</a>
              <a href="{% url 'more' product.id %}" class="btn btn-dark">more</a>
            </div>
    </div>
  </div>
</div> -->

  
{% else %}
  <p class="lead">no product yet</p>
{% endif %}



    
</section>
  
{% endblock content %}