{% extends 'base.html' %}
{% load static%}
{% block title %}
  search page
{% endblock title %}

{% block content %}
 <!-- Breadcrumb Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<section id="search" class="my-3 ">    
    <div class="container">
        <div class="row g-2"> 
            {% if search %}
                {% for item in search %}
                <div class="col-md-4">
                    <a href="{% url 'product' item.id %}" class="text-center text-decoration-none text-dark">

                        <div class="card">
                            <img src="{{item.image.url}}"   height="250" alt="{{item.title}}" class="card-img">
                            <div class="card-body">
                                <h5 class="display-6">{{item.title}}</h5>
                            <p class="lead"> {{item.description| truncatewords:20}} </p>
                            <h4> &#8358; {{item.price}} </h4>
                        </div>
                    </a>
                </div>
                  
                {% endfor %}              
            {% else %}
              <p class="lead bg-danger">no item of such</p>
            {% endif %}

        </div>
    </div>
</section> 
{% endblock content %}














