{% extends "base.html" %}
{% load humanize %}

{% block title %}
  form page
{% endblock title %}


{% block content %}
  
<section id="formss">

    <div class="container">
        <div class="row">
        {% if rents %}

            <div class="col-md-6">
                <div class="card gap-2">
                    <div class="card-header ">
                        <div class="d-flex justify-content-between">
                            <p class="lead">  {{ rents.title }}</p>
                            <p class="lead"> {{rents.capacity}} </p>
                            <p class="lead"> {{rents.fuel}} </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src=" {{rents.image.url }} " alt="" class="img-fluid" >

                        <p class="lead display-7"> {{rents.description}} </p>
                        <div class="d-flex">
                            <h3> &#8358; {{rents.amount|intcomma}}/day </h3>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
                
                {% else %}
                <p class="lead">no noo </p>
                {% endif %}



                {% if form %}
                <div class="col-md-6 mx-auto">
                    <div class="card">

                        <form action="" method="post">
                                    
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="surname" placeholder="surname" name="" required>
                                <label for="surname">surname</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="firstname" placeholder="firstname" name="" required>
                                <label for="firstname">firstname</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="midname" placeholder="midlename" name="">
                                <label for="firstname">midlename</label>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="dob">Date of birth</label>
                                <input type="date" name="dt" id="dat">
                            </div>
                            <label for="comment">Address:</label>
                            <textarea class="form-control" rows="2" id="address" name="text"></textarea>
                            <div class="mb-3 mt-3">
                             <label for="dob">Date of Booking</label>
                             <input type="date" name="bk" id="dat">
                         </div>
                            <div class="mb-3 mt-3">
                             <label for="dob">Date of return</label>
                             <input type="date" name="rt" id="dat">
                         </div>
                         <div class="mb-3 mt-3">
                          <label for="dob">Total days</label>
                          <input type="text" name="dy" id="dat">
                         </div>
                         <div class="mb-3 mt-3">
                         <label for="dob">Total amount</label>
                         <input type="text" name="at" id="dat">
                             </div>
                                 </div>
                                 <hr>
                                 <div class="d-grid my-3">
                                     <button class="btn btn-success"> Submmite</button>
                                 </div>
                                 </div>
                         </div>
                   </form>


                        <!-- <form action="" method="post" >
                           {% csrf_token %}
                           {{form.as_p}}
                           <div class="d-grid my-3">
                               <button type="submit" class="btn btn-success">Submit your Order</button>
                           </div>
                        </form>        -->
                    </div>
                      
                    <!-- <div class="card">
        
                        <div class="card-header text-center">
                            <h3>Register to Hier</h3>
                        </div>
                        <div class="card-body">
        
        
                            <form action="">
                                
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="surname" placeholder="surname" name="" required>
                                    <label for="surname">surname</label>
                                </div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="firstname" placeholder="firstname" name="" required>
                                    <label for="firstname">firstname</label>
                                </div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="midname" placeholder="midlename" name="">
                                    <label for="firstname">midlename</label>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="dob">Date of birth</label>
                                    <input type="date" name="dt" id="dat">
                                </div>
                                <label for="comment">Address:</label>
                                <textarea class="form-control" rows="2" id="address" name="text"></textarea>
                                
                               <hr>
                                <div class="d-grid my-3">
                                    <button class="btn btn-success"> Submmite</button>
                                </div>
                            </form>
                        </div>
                    </div> -->
               
               
               
               
                </div>
                    {% else %}
                      <p class="lead display-3"></p>
                    {% endif %}


        </div>
       
    </div>



    <!-- <div class="container">
        <div class="row">
            
            {% if form %}
            <div class="col-md-6 mx-auto">
                <form action="" method="post" >
                   {% csrf_token %}
                   {{form.as_p}}
                   <div class="d-grid my-3">
                       <button type="submit" class="btn btn-success">Submit your Order</button>
                   </div>
                </form>        -->
                  
                <!-- <div class="card">
    
                    <div class="card-header text-center">
                        <h3>Register to Hier</h3>
                    </div>
                    <div class="card-body">
    
    
                        <form action="">
                            
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="surname" placeholder="surname" name="" required>
                                <label for="surname">surname</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="firstname" placeholder="firstname" name="" required>
                                <label for="firstname">firstname</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="midname" placeholder="midlename" name="">
                                <label for="firstname">midlename</label>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="dob">Date of birth</label>
                                <input type="date" name="dt" id="dat">
                            </div>
                            <label for="comment">Address:</label>
                            <textarea class="form-control" rows="2" id="address" name="text"></textarea>
                            
                           <hr>
                            <div class="d-grid my-3">
                                <button class="btn btn-success"> Submmite</button>
                            </div>
                        </form>
                    </div>
                </div> -->
           
           
<!--            
           
            </div>
                {% else %}
                  <p class="lead display-3"></p>
                {% endif %}
                
        </div>

    </div>
</section> -->


{% endblock content %}